/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ECF1FA;
    color: #333333;
}

/* Settings Container */
.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* General and Experiment Settings */
.general-settings, .experiment-settings {
    border: 5px solid #440154;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    width: 80%; /* Adjust based on layout preference */
    max-width: 800px; /* Maximum width */
}

.experiment-settings {
    border-color: #38588c;
}

.general-settings .form-row, .experiment-settings .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.general-settings .form-row label, .experiment-settings .form-row label {
    flex: 0 0 250px; /* Fixed width for labels */
    margin-right: 10px;
}

.general-settings .form-row input, 
.general-settings .form-row select, 
.experiment-settings .form-row input, 
.experiment-settings .form-row select {
    flex: 0.2; /* Adjust as needed for the input/select width */
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #cccccc;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.message {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    border: 5px solid #440154;
    border-radius: 5px;
}

#statusMessage {
    margin-bottom: 20px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #440154; /* Blue color */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 auto; /* Centering the loader */
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.general-settings h2 {
    color: #440154;
}

.general-settings label, .settings input {
    margin: 5px;
}

#save_dir {
    flex: 1;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.experiment-settings {
    display: none;
    border: 5px solid #38588c;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

.experiment-settings h2 {
    color: #38588c;
}

.button {
    font-size: 14px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    color: white;
    text-decoration: none;
}

.button:hover {
    opacity: 0.9;
}

.button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.general-settings .button {
    background-color: #440154;
}

.general-settings .button:hover {
    background-color: #433e85;
}

.experiment-settings .button {
    background-color: #38588c;
}

.experiment-settings .button:hover {
    background-color: #277f8e; /* Darker green */
}


/* Meshgrid Generator inside General Settings */
.meshgrid-generator {
    border: 5px solid #440154;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.meshgrid-generator h3 {
    color: #440154;
    margin-bottom: 15px;
}

.meshgrid-generator .form-row {
    display: flex;
    justify-content: space-between; /* Keeps items spaced out */
    align-items: center;
    margin-bottom: 5px;
}

.meshgrid-generator .form-row label {
    flex: 0 0 80px; /* Fixed width for labels */
    margin-right: 5px; /* Smaller margin for meshgrid labels */
}

.meshgrid-generator input[type='number'] {
    width: auto; /* Allows input width to adjust to content */
    margin-right: 20px; /* Spacing after input */
}
#generate_meshgrid{
    font-size: 12px;
    padding: 8px 18px;
    background-color: #440154;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40%;
}
#generate_meshgrid:disabled {
    background-color: #cccccc;
}

button:disabled {
    background-color: #cccccc;
}


.login-form {
    border: 5px solid #440154;
    padding: 20px;
    margin: 20px auto; /* Center the form */
    width: 300px;
    border-radius: 5px;
}

.login-form h2 {
    color: #440154;
    text-align: center;
}

.login-form label, .login-form input {
    display: block;
    width: 100%;
    margin: 5px 0;
}

.login-form input[type='submit'] {
    background-color: #440154;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
}

.login-form input[type='submit']:hover {
    background-color: #0056b3;
}

.batch-section {
    border: 5px solid #540500;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.batch-title {
    color: #540500;
    margin-bottom: 15px;
}

.batch-section h3 {
    color: #540500;
    margin-bottom: 15px;
}



.experiment-container {
    margin-bottom: 10px;
    margin-right: 10px;
}

.experiment-dropdown {
    width: 25%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.args-container {
    display: flex; /* Aligns child elements (input fields) in a row */
    flex-wrap: wrap; /* Allows fields to wrap to next line if space runs out */
    gap: 10px; /* Space between fields */
    margin-top: 10px; /* Space between dropdown and this container */
}

.arg-field {
    flex: 1; /* Each field takes equal space */
    min-width: 150px; /* Minimum width of each field to avoid too small fields */
    max-width: 150px; /* Maximum width of each field to avoid too wide fields */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#saveBatchSettings.batch-save-button {
    background-color: #1e9b8a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#saveBatchSettings.batch-save-button:hover {
    background-color: #2ab07f
}

#loadBatchSettings.batch-load-button {
    background-color: #1e9b8a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#loadBatchSettings.batch-load-button:hover {
    background-color: #2ab07f
}


.run-button {
    background-color:#3E4756;
    color: white;
    padding: 15px 30px; /* Large button */
    font-size: 20px; /* Bigger font */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 20px;
}
.run-button:hover {
    background-color: #4E5866;
}


.flash-message {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    top: 0; /* Position at the top */
    left: 0; /* Align to the left edge */
    right: 0; /* Stretch across the full width */
    z-index: 1000; /* Ensures it appears above other elements */
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1); /* Optional: adds a shadow for better visibility */
}


.flash-message.success {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.flash-message.error {
    color: black;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}


.flash-message.danger {
    color: #721c24; /* Dark #540500 text */
    background-color: #f8d7da; /* Light #540500 background */
    border-color: #f5c6cb;
}