<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>Mischbares Status</title>
</head>
<body>
    <div class='message-container'>
        <div class="message">
            <div id="statusMessage">Running Mischbares...</div>
            <div id="statusMessage">Check your console</div>
            <div class="loader"></div>
        </div>
    </div>
</body>
</html>
